// Accordion
.accordian-header {
	background-color: $accordian-header;
}

// buttons
.btn.btn-primary{
    background: $btn-primary-bg;
}
.btn.btn-danger{
    background: #dc3545;
}
.btn.btn-warning{
    background: #e0a800;
}
.btn.btn-success{
    background: #218838;
}
.btn.btn-info{
    background: #138496;
}
.fixed-action {
    position: fixed;
    top: 108px;
    right: 32px;
    z-index: 20;
}

.fixed-action-slight {
    position: fixed;
    top: 94px;
    right: 32px;
    z-index: 20;
}

.pagination {
    margin-top: 30px;
}