@import "icons";

.btn.btn-dark {
    background: #511C29;
    color: #ffffff;
}

.actions {
    .action {
        display: inline-flex;
    }
}

.image-wrapper {
    .image-item {
        .remove-image {
            left: 0;
        }
    }
}