// Icon scss
@import "icons";
@import "variables";
@import "mixins";
$fa-font-path: "../fonts/font-awesome" !default;
@import "~font-awesome/scss/font-awesome.scss";


.repair-icon {
  width: 48px;
  height: 48px;
  background-image: url("../images/repair-ico.svg");
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@page
{
  size: auto;   /* auto is the current printer page size */
  margin: 0mm;  /* this affects the margin in the printer settings */
}

body {
  margin: 0;
  padding: 0;
  font-weight: 500;
  max-width: 100%;
  width: auto;
  color: $font-color;
  font-size: 16px;
  font-family: 'Roboto',sans-serif;
}

body.pos-order-print {
  .pos-navbar-top {
    display: none;
  }
  .pos-navbar-left {
    display: none;
  }
  .pos-content-container {
    margin-top: 0px;
    padding-left: 0px;

    .pos-sales-main {
      .pos-nav-container {
        display: none;
      }
      .pos-nav-content {
        display: none;
      }
    }
    .pos-payment-main {
      display: none;
    }
  }
}

.search-field[disabled=disabled],
.control_disabled[disabled=disabled],
.order_search_field[disabled=disabled],
.discount-edit[disabled=disabled],
.discount-remove[disabled=disabled],
select[disabled=disabled],
select[disabled=disabled] {
  cursor: not-allowed;
}

.bagisto-footer-container {
  width: 100%;
  height: 40px;
  background-color: #171E3C;
  color: $color-white;
  position: fixed;
  bottom: 0px;
  padding: 0 15px;
  display: inline-block;
  z-index: 1;

  .admin-link {
    text-align: center;
    a {
      line-height: 40px;
      color: $color-white !important;
      border-bottom: 1px solid #2149F3;
      margin-left: 20px;
    }
  }

  .fa {
    position: absolute;
    right: 30px;
    padding: 5px 10px 10px;
    top: -30px;
    background: #171E3C;
    cursor: pointer;
  }
}

.pos-invoice-panel {
  // width: 80mm;
  width: 630px;
  margin: 10px auto;
  background: $color-white;
  overflow: hidden;

  .pos_thermal {
    width: 100mm;
    font-weight: normal;
    padding: 10px;
    text-align: left;
    font-size: 14px;
    color: $font-color;
    border: 1px solid #CCC;
    font-family: 'Roboto',sans-serif;

    .separate_row {
      border: 1px solid $base-color;
      margin-bottom: 10px;
    }

    .pos_shop_detail {
      width: 100%;
      margin-bottom: 15px;
      line-height: 1.20;
      overflow: hidden;

      .pos_logo_thumb {
        width: 100%;
        padding: 5px;
        text-align: center;

        img.pos_logo {
          width: 110px;
          height: 100px;
          border: 1px solid $border-color;
          @include border-radius(10px);
        }
      }
    }

    .details_row {
      font-size: 14px;
      width: 100%;
      display: inline-block;
      padding: 5px;

      span {
        display: inline-block;
      }
      span.main_heading {
        width: 45%;
        font-weight: bold;
        text-align: left;
      }
      span.detail_value {
        width: 50%;
        text-align: right;
        font-weight: normal;

        &.bold_content {
          font-weight: bold;
        }
      }
      &.receipt-header {
        display: inline-flex !important;
        span.main_heading {
          width: 35%;
        }
        span.detail_value {
          width: 65%;
          vertical-align: top;
          padding: 10px 0px;
          height: auto;
          min-height: 110px;

          .address-container {
            text-align: left;
            font-size: 14px;
            padding-left: 10px;

            span.store_name {
              font-size: 16px;
              font-weight: 600;
              color: $base-color;
            }

            span {
              display: block;
              word-break: break-word;
              pre {
                margin: 0px;
                padding: 0px;
                font-family: 'Roboto',sans-serif;
              }
            }
          }
        }
      }
    }

    .order_items {
      text-align: left;

      table {
        border-collapse: separate;
        border-spacing: 5px;
        margin: 5px auto;
        width: 100%;

        .item_head {
          border-bottom: 1px dotted $font-color;
          padding: 5px 0px;
        }

        .invoice_product_name {
          display: inline-block;
          margin-bottom: 5px;
          .product_name {
            display: inline-block;
            color: $base-color;

            span.product-attributes {
              font-size: 13px;
              width: 100%;
              display: inline-block;

              span {
                width: 100%;
                display: inline-block;
              }
            }
          }
        }
      }
    }
    .pos_order_note {
      .details_row {
        display: flex;
        .main_heading {
          width: 25%;
        }
        .detail_value {
          text-align: left;
          width: 75%;
          word-break: break-word;
        }
      }
    }

    .footer_barcode_container {
      .order_barcode_thumb {
        width: 100%;
        padding: 5px;
        text-align: center;

        img.order_barcode {
          width: 200px;
          height: 65px;
          border: 1px solid $border-color;
          @include border-radius(10px);
        }
      }
    }
    .footer_note {
      margin-top: 10px;

      span {
        width: 100%;
        text-align: center;
        display: inline-block;
        line-height: 1.50;

        pre {
          margin: 0px;
          padding: 0px;
          font-family: 'Roboto',sans-serif;
        }
      }
    }
  }
}

::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #D8D8D8;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #666666;
}

hr {
  border-color: $border-color;
}
